<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Specify the name of the E57 File</ng-template>
      <mat-form-field>
        <mat-label>Filename</mat-label>
        <input matInput placeholder="scan.e57" formControlName="filename" required>
      </mat-form-field>
      <p>
        <small> The file should be located under the directory specified in the environment file!</small>
      </p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Enable/Disable subsampling">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitE57()">
      <mat-checkbox matInput formControlName="enableSubsampling">Enable Subsampling</mat-checkbox>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Specify Height">
    <form [formGroup]="thirdFormGroup">
      <span fxLayout="row" style="max-height: 500px; width: fit-content;">
        <img src="../../assets/house_crosssecion.jpg" height="200" alt="">
        <mat-slider id="heightSlider" formControlName="heightValue" thumbLabel [tickInterval]="10" [vertical]="true"
          [displayWith]="formatLabel" [value]="heightInCm" [min]="0" [max]="heightInCm"></mat-slider>
        <img [src]="image" id="crossSectionImg" #imageView [ngClass]="rotateImage() ? 'rotate90' : ''" *ngIf="image">
        <span *ngIf="loadingFirst">
          <mat-spinner></mat-spinner>
          <label>Generating cross-section...</label>
        </span>

      </span>
      <button type="button" mat-raised-button color="primary"
        matTooltip="Generates a cross section of the factory with a top view. Only continue to the next step if the roof is completely removed in the generated preview."
        (click)="onSubmitHeight()">Generate cross-section</button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="submit">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Set Z_SAT">
    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmitZsat()">
      <label>Set zSat</label>
      <input matInput type="number" formControlName="zsat">
        <div>
          <button mat-button  matStepperPrevious>Back</button>
          <button mat-button type="submit" matStepperNext>Next</button>
        </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
